.EventDiv {
  padding: 0;
  border-right: solid 4px rgba(0, 0, 0, 0.05);
}

.EventDiv > * {
  display: block;
  padding-right: 30px;
}

.EventDivNew {
  height: 0px;
}

.EventDivNew span {
  display: inline-block;
  position: relative;
  bottom: 36px;
  font-size: 13px;
  margin-right: 10px;
  padding: 0px 10px;
  text-align: center;
  line-height: 1.6em;
  border-radius: 25px;
  border: solid 1px #34A853;
  color: #34A853;
}

.EventDivDate {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: solid 4px rgba(0, 0, 0, 0.05);
  text-align: right;
  opacity: 0.5;
}

.EventDivText {
  font-size: 20px;
}

.EventDivUrl {
  font-size: 14px;
  text-align: right;
}

.EventDivUrl a {
  text-decoration: none;
}

.EventDivTime {
  font-size: 14px;
  padding-bottom: 30px;
  text-align: right;
  opacity: 0.5;
}
